In [1]:
from pulp import *
import pandas as pd

In [270]:
data = pd.read_csv(r'Data/dist_final.csv', sep=';', encoding = "ISO-8859-1")

In [261]:
data

,ï»¿origin_id,destination_id,entry_cost,network_cost,exit_cost,total_cost
0,1,1,"20,62273642","85,81582035","19,10044658","125,5390033"
1,1,2,"20,62273642","334,2160276","103,6597872","458,4985512"
2,1,3,"20,62273642","260,0683703","44,34503649","325,0361432"
3,1,4,"20,62273642","1504,009174","44,43506488","1569,066975"
4,1,5,"20,62273642","1525,600377","85,51155597","1631,734669"
...,...,...,...,...,...,...
79870,1125,67,"38,51260501","4632,443249","5,996690146","4676,952544"
79871,1125,68,"38,51260501","4395,733602","0,055415274","4434,301623"
79872,1125,69,"38,51260501","4583,419141","11,51279694","4633,444543"
79873,1125,70,"38,51260501","4620,94209","0,614390475","4660,069085"
79874,1125,71,"38,51260501","4620,94209","0,614390475","4660,069085"

In [293]:
# i total de registros
# j total nodos origen (1025)
ODMatrix = pd.DataFrame(columns = [list(range(1,71))])
ODMatrix.index += 1
j = 1
k = 0
d_node = []
for i in range(len(data)):  
    if data['ï»¿origin_id'][i] == j:
        d_node.append(data['total_cost'][i])        
    else:
        ODMatrix.loc[k] = d_node
        d_node = []
        j = j+1
        k = k+1
        d_node.append(data['total_cost'][i])
ODMatrix.loc[k] = d_node
ODMatrix.index += 1

In [298]:
demanda = pd.read_csv(r'Data/centroides_f.csv', sep=';', encoding = "ISO-8859-1") 
ODMatrix['demanda'] = list(demanda['Poblacion'])
ODMatrix

In [300]:
ODMatrix.to_csv('Data/ODMatrix.csv', sep = ";", encoding = "windows-1252")